@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Ubuntu:400,700');


body{
	margin:0;
}

header{
	background:black;
	color:white;
	padding: 0px 2px 6px 30px;
	height: 60px;
}
	
header h1{
	display: inline;
	font-family: 'Arimo', sans-serif;
	font-weight: 450:
	font-size: 38px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
}

nav ul{
	display: inline;
	padding:0px;
	float: left;
	margin-left: 50px;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 20px;
}
nav ul li a{
	color: white;
	text-decoration: none;
}

#nav{
	font-family: 'Ubuntu', sans-serif;
}

.homered{
	background-color: red;
	padding: 10px 25px 20px 10px;
}

.divider{
	background-color: red;
	height: 8px;
}

.homeblack:hover{
	background-color: blue;
	padding: 10px 20px 20px 10px;
}























