@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Ubuntu:400,700');



body{
	background-image: url("b.jpg");
    }
	
	
	.btn {
    float: right;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}
	
	
	
	
	#log{
	position: absolute;
	margin-top: 50px;
	margin-bottom: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 600px;
	padding:60px 40px;
	box-sizing: border-box;
	-webkit-box-shadow: 5px 3px 62px 0px rgba(0,0,0,0.85);
-moz-box-shadow: 5px 3px 62px 0px rgba(0,0,0,0.85);
box-shadow: 5px 3px 62px 0px rgba(0,0,0,0.85);

	}

	img{ 
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(48% - 50px);
	}
	h1{
	color:white;
	test-align:center;
	font-weight:bolder;
	margin-top:5px;
	}
	label{
	font-size:20px;
	color:white;
	}
	pre{
	font-size:20px;
	color:white;
	}
	